<!DOCTYPE html>
<html>
  <head>
    <title>Sorceryapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if current_user %>
      <%= button_to "Logout", :logout, method: :post %>
        <% else %>
  <%= link_to  "Login", :login %>
  <%= link_to  "Sign Up", new_user_path %>
    
  <% end %>
    <%= yield %>
  </body>
</html>
